/**=====================
      Print CSS Start
==========================**/
@media print {
  .page-sidebar {
    display: none; }

  .page-wrapper .page-main-header {
    display: none; }
  .page-wrapper .page-body-wrapper .page-header {
    display: none; }
  .page-wrapper .page-body-wrapper .page-sidebar ~ .page-body {
    margin-left: 0;
    padding: 0; } }
.invoice-table {
  margin-top: 16px;
  margin-bottom: 16px; }

/**=====================
      Print CSS Start
==========================**/
